body {
  margin: 0;
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('/servicom.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding-bottom: 50px;
}

.app {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.footer {
  background-color: #288331;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

.about--star {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.star {
  display: flex;
  justify-content: left;
  font-size: 36px;
}

.filled {
  color: #E67136;
}

.empty {
  color: rgba(71, 71, 71, 0.3);
}

.fill {
  color: #E67136;
}

.blank {
  color: rgba(71, 71, 71, 0.3);
}

hr {
  border: none;
  height: 1px;
  width: 90%;
  background-color: rgba(71, 71, 71, 0.2);
  margin-left: 5%;
}

.feedback--line {
  border: none;
  height: 1px;
  width: 100%;
  background-color: rgba(71, 71, 71, 0.2);
  margin: 5% 0 3%;
}

.about {
  font-size: 18px;
  height: 100%;
  width: 100%;
  flex: 1;
  padding: 5px 0;
  text-align: center;
  color: #474747;
}

.about--profile {
  padding-top: 10px;
}

.about--agency {
  margin: 20px 60px 10px;
}

.about--image {
  height: 50%;
  width: 50%;
  border-radius: 10%;
}

.verification--icon {
  display: inline-block;
  width: 35%;
  height: 20px;
}

.about--info {
  text-align: center;
}

.about--top--rating {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
}

.about--about h3 {
  font-size: larger;
  margin: 15px 0;
}

a {
  color: #288331;
  text-decoration: none;
}

.about--text--info {
  margin: 0px 60px 15px;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.about--details {
  font-size: 14px;
  margin: 0 60px;
  letter-spacing: 0.5px;
}

.about--address, .about--telephone, .about--website {
  display: flex;
  gap: 15px;
  padding: 10px 0;
}

.fa-map-marker, .fa-phone, .fa-website {
  display: inline-block;
}

.fa-map-marker {
  color: red;
}

.fa-phone {
  color: #00FF00;
}   

.address, .telephone, .website {
  text-decoration: none;
  text-align: left;
}

.submission--thank--you {
  background-color: #4caf50;
  color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .arrow--back {
  border-radius: 50%;
  background-color: rgba(71, 71, 71, 0.1);
  height: 30px;
  width: 30px;
  border: none;
} */

/* .fa-arrow-left {
  color: #fff;
  padding: 6px 0 0;
  height: 50px;
} */

.form--back {
  display: inline-block;
}

.form--title {
  vertical-align: 25%;
  margin-left: 5px;
  font-weight: 600;
}

.form-input,
.form-textarea,
.form-select {
  margin: 10px 0;
  width: 100%;
  height: 25px;
  outline: none;
  display: block;
  position: relative;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.03);
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #000;
}

.modal {
  text-align: left;
  margin: 30px;
}

.modal--form--header {
  padding-top: 20px;
  font-size: medium;
  margin: 0 5px;
  color: #474747;
}

.tag-chips {
  padding-top: 5px;
}

.form-textarea {
  height: 100px;
}

form {
  padding-bottom: 50px;
}

.form--button {
  border-radius: 5px;
  border: none;
  background-color: #288331;
  color: #fff;
  padding: 10px 46%;
  margin-top: 15px;
}

.form--close {
  text-align: center;
}

.form--label {
  /* position: relative; */
  margin: 0;
  color: #474747;
}

.form--title {
  margin-bottom: 20px;
  font-size: large;
}

.rating--label {
  font-size: medium;
  margin: 30px 5px 0;
}

.rating--rating {
  display: flex;
}

.form--close--button {
  position: absolute;
  top: -30px;
  right: -20px;
  color: #fff;
  background-color: rgb(220, 0, 0);
  border: none;
  padding: 5px 7px;
  border-radius: 3px;
  cursor: pointer;
}

.loading {
  margin: 85% 37% auto;
}